In [1]:
!ls

adult.csv  sample_data

In [2]:
import pandas as pd

df = pd.read_csv('adult.csv')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['income'] = le.fit_transform(df['income'])

Label Encoding is used where categories have an inherent order.

In [5]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

num_cols = ['age', 'hours-per-week', 'capital-gain', 'capital-loss']
df[num_cols] = scaler.fit_transform(df[num_cols])

Label Encoding is used where categories have an inherent order.

In [7]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [9]:
df = pd.get_dummies(
    df,
    columns=['gender', 'workclass', 'marital-status'],
    drop_first=True
)

In [10]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

num_cols = ['age', 'hours-per-week', 'capital-gain', 'capital-loss']
df[num_cols] = scaler.fit_transform(df[num_cols])

Scaling ensures all numerical features are on the same scale.

Before scaling:

Features had different ranges

After scaling:

Mean ≈ 0

Standard deviation ≈ 1

Scaling improves performance of distance-based algorithms like KNN, SVM, and Logistic Regression.

In [11]:
df.to_csv('adult_processed.csv', index=False)